.trending {
  padding-bottom: 10rem;
}

.container {
  max-width: 70%;
  margin: auto;
}

.title-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.trending h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btns {
  display: flex;
  gap: 0.4rem;
}

.btns button {
  color: white;
  background-color: #373737;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button i {
  transition: transform 0.2s ease;
}

.btns button:hover {
  background-color: #222;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

/* Button active state */
.btns button:active {
  transform: scale(1); /* Resets to original size on click */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Slightly reduces shadow */
}

.btns button:hover i {
  transform: scale(1.15);
}

.row-container {
  display: flex;
  gap: 2.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Individual item styling */
.row-item {
  max-width: 24rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid rgba(0, 0, 0, 0.205);
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.row-item:hover {
  outline: 2px solid rgba(0, 0, 0, 0.6);
}

/* Image container */
.item-header img {
  width: 24rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Description container */
.description {
  font-size: 2rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  height: 8rem;
  text-align: center;
  display: flex;
  color: #222;
  flex-direction: column;
  justify-content: center;
}

.description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5rem 0;
}
.price {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
  display: none;
}
