@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@500&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.Toastify__toast--success {
  background-color: #ffffff !important;
  color: #1c1636 !important;
  font-size: small;
  margin-top: 40px !important;
}

.Toastify__toast--error {
  background-color: #dc3545 !important;
  color: #fff;
  font-size: small;
  margin-top: 40px !important;
}

.Toastify__toast--info {
  background-color: #17a2b8 !important;
  color: #fff;
  font-size: small;
  margin-top: 40px !important;
}
